<h1>Phonebook</h1>
<%= link_to 'new contact',new_contact_path %>
<% @contacts.each do |contact| %>
    <li>Name: <%= contact.name %> | #: <%= contact.number %> | <%= link_to 'show',contact_path(contact) %> | <%= link_to 'edit',edit_contact_path(contact) %> | <%= link_to 'delete',contact_path(contact),method: :delete, data: {confirm:"Are you sure you want to delete this contact?"} %></li>
<% end %>